<footer class="py-3  " style="background-color:rgba(0, 0, 0, 0.779)">
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a  class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a  class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a  class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a  class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
</footer>